<h1><%= @name %></h1>
  <table class="table table-condensed table-hover table-striped">
    <tbody>
      <% @specs.each do |s| %>
        <tr>
          <% s.each do |e| %>
            <td><%= e %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

