
<% @phones.each_key do |key| %>
  <div class="media well">
    <a href="#" class="pull-left"><img src="<%= @phones[key][:photo] %>" class="media-object" /></a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= key %>
      </h4>
      <form action="/showPhone" class="navbar-form navbar-left" data-remote="true" role="search">
        <div class="form-group">
          <input name="showPhone[name]" type="hidden" class="form-control" type="text" value="<%= key %>" />
          <input name="showPhone[url]" type="hidden" class="form-control" type="text" value="<%= @phones[key][:url] %>" />
        </div>
        <button type="submit" remote="true" formmethod="post" class="btn btn-default">
          Показать телефон
        </button>
      </form>

    </div>
  </div>
<% end %>
