<div class="panel-group" id="panel-115096">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="panel-title collapsed panel-list" data-toggle="collapse" data-parent="#panel-115096" href="#panel-element-976405">Список поиска</a>
    </div>
    <div id="panel-element-976405" class="panel-collapse collapse">
      <div class="panel-body listPhone">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="panel-title panel-data" data-toggle="collapse" data-parent="#panel-115096" href="#panel-element-92542">Детели поиска</a>
    </div>
    <div id="panel-element-92542" class="panel-collapse collapse">
      <div class="panel-body detailPhone">
      </div>
    </div>
  </div>
</div>