$('#panel-115096 a.panel-list').removeClass("collapsed");
$('#panel-115096 #panel-element-976405').addClass("in");
$('#panel-115096 a.panel-data').addClass("collapsed");
$('#panel-115096 #panel-element-92542').removeClass("in");

<% if @error.nil? %>
  $('.listPhone').html("<%= escape_javascript render 'parsing_devises/list' %>");
<% else %>
  $('.listPhone').html("<h1><%= @error %></h1>");
  $('.detailPhone').html("");
<% end %>