$('#panel-115096 a.panel-list').addClass("collapsed");
$('#panel-115096 #panel-element-976405').removeClass("in");
$('#panel-115096 a.panel-data').removeClass("collapsed");
$('#panel-115096 #panel-element-92542').addClass("in");

$('.detailPhone').html("<%= escape_javascript render 'parsing_devises/form' %>");