<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button> <a class="navbar-brand" href="\">На главную</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form action="/search" class="navbar-form navbar-left" data-remote="true" role="search">
      <div class="form-group">
        <input name="post[search]" class="form-control" type="text" />
      </div>
      <button type="submit" remote="true" formmethod="post" class="btn btn-default">
        Поиск
      </button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle menu-site-change-title" data-toggle="dropdown"><%= session[:site_id] %><strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li>
            <% session[:sites].each_key { |key| %>
              <%= link_to key, "change/" + key, remote: true, class: "btn btn-block btn-warning btn-sm" %>
            <% } %>
          </li>
          <li class="divider">
          </li>
          <li>
            <a href="#">Поиск по всем сайтам</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</nav>


